<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Morse Code Converter!</h1>
        <a href="https://github.com/jckuhl/morse" class="right">View on Github</a>
    </header>

    <div id="app">
        <h2>Enter a phrase!</h2>
        <p>Please disregard all punctuation and use only alphabetical and numeric characters.</p>
        <input type="text" placeholder="Enter any sentence" v-model="input">
        <button @click="translate">Translate!</button>

        <Result :result="output"></Result>

        <ul v-if="history">
            <li v-for="entry of history">
                <p>{{ entry.morse }}</p>
                <p>{{ entry.phrase }}</p>
                <button>Play!</button>
                <button>Delete</button>
            </li>
        </ul>
        <button @click="clearHistory">Clear History</button>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="audio.js"></script>
    <script src="morse.js"></script>
    <script src="app.js" type="module"></script>
</body>
</html>