<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Converts plaintext to morse code and provides an audio example">
    <title>Morse Code Converter</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mediaq.css">
</head>
<body>
    <header>
        <h1>Morse Code Converter!</h1>
        <a href="https://github.com/jckuhl/morse" class="right" target="_blank" rel="noopener">View on Github</a>
    </header>

    <noscript>This page requires JavaScript to function</noscript>

    <section>
        <h1>What is Morse Code?</h1>
        <p>In the 1800s, there were no telephones, no email, no fax machines or Internet.  If you wanted to communicate long distance, you had to send a letter, which could take weeks, or even months.  Samuel Morse, in 1825, was a painter, commissioned to paint a portrait of Lafayette in Washingto DC.  While away from home, he recieved a letter learning his wife was sick.  He packed his bags and hastened home as fast as he could.  But by the time he got home, not only was she dead, but also buried in the ground.</p>
        <p>Devastated by the loss of his wife, Morse was determined to ensure that no one else would experience his fate.  Frustrated with the slow speed of communication, he began to investigate alternative means, using the nascient science of electricity.  By 1832, he invented Morse Code and was one of the pioneers of the telegraph.</p>
        <p>Morse code is a system of dots and dashes to denote alphabetical and numerical symbols.  Each dot is one time unit long, and each dash is three time units long.  Each word is separated by a gap of seven time units and each letter by a gap of three time units so a user knows how to separate each signal and match it with the appropriate letter or number.</p>
        <p>You can listen to a a dot <a href="javascript:;" id="dot">here</a> and a dash <a href="javascript:;" id="dash">here.</a></p>
        <p>The telegram was the primary means of long distance communication for much of the 19<sup>th</sup> century and is still in limited use today.  The telegram was widely used during the American Civil War so generals could keep in touch with their leaders in Washington D.C. or Richmond Virginia.  Now most of it has been replaced by cell phones and the internet.  However you'll still find Morse code in the military or in aviation.  As an example, VOR-DME stations are still used as navigational aids, and they utilize Morse code.  The technology is however fading out, and even VOR systems will be wholly replaced by GPS systems in the near future.  Navy signalmen also use Morse code to flash light signals to other ships.</p>
        <p>Here you can play with that legacy technology.  If you'd like, you can enter something into the text field below.  Hit the translate button and it will produce the Morse code equivalent.</p>
        <p>You can read more about Samuel Morse and Morse Code here: 
        <a href="https://en.wikipedia.org/wiki/Samuel_Morse" target="_blank" rel="noopener">Samuel Morse,</a> <a href="https://en.wikipedia.org/wiki/Morse_code" target="_blank" rel="noopener">Morse Code</a>
        </p>
    </section>

    <section id="app" class="container">
        <h2 id="enter-a-phrase">Enter a phrase!</h2>
        <p>Please disregard all punctuation and use only alphabetical and numeric characters.</p>
        <input type="text" 
            id="morseInput" 
            placeholder="Enter any sentence" 
            v-model="input" 
            class="form-elem" 
            @keyup.enter="()=> { if(!isDisabled) { translate() }}"
            maxlength="50"
            aria-labelledby="enter-a-phrase">
        <button class="form-elem translate-btn"
            :class="{ disabled : isDisabled }"
            @click="translate" 
            :disabled="isDisabled">
            Translate!
        </button>

        <error-msg v-if="error" :error="error" @close-error="closeErrorMsg"></error-msg>

        <result-box :result="output"></result-box>

        <h3>Previous entries:</h3>
        <p>These are saved in your browser's storage if you want to come back to them.</p>

        <ul>
            <li v-for="(entry, index) of history" :key="entry.id" role="history-item">
                <p><pre>{{ entry.output.text.morse | morse }}</pre></p>
                <p>{{ entry.output.text.phrase }}</p>
                <play-btn :result="entry.output" @stop-all="stopAllAudio"></play-btn>
                <stop-btn :result="entry.output" :id="entry.id" @stop-audio="stopAudio"></stop-btn>
                <button @click="()=> deleteItem(entry.id)">Delete</button>
                <hr>
            </li>
        </ul>

        <div class="btn-container">
            <button @click="clearHistory" class="clear-btn">Clear History</button>
            <p>This will remove your history from your browser's storage</p>
        </div>
    </section>

    <footer>
        <p>A special thanks to Envato Market for the collection of Morse code audio clips</p>
        <p>Check them out at <a href="https://themeforest.net/" target="_blank" rel="noopener">themeforest.net</a></p>
    </footer>

    <!-- <div id="audio"></div> -->

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="audio.js"></script>
    <script src="morse.js"></script>
    <script src="app.js" type="module"></script>
</body>
</html>