@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
    font-family: 'Cutive Mono', monospace;
    background: lightblue;
    margin: 0 0;
    padding: 0 0;
}

header {
    background: dodgerblue;
    width: 100%;
    padding: 0.25em;
    display: flex;
}

.right {
    align-self: right;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: -webkit-baseline-middle;
    align-content: center;
    width: 50%;
    margin: 0.5rem auto;
    padding: 0.25rem;
    background: white;
    border: 2px solid darkblue;
    border-radius: 10px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.form-elem {
    width: 75%;
    font-size: 1.25rem;
}

.translate-btn {
    color: white;
    background: dodgerblue;
}