body {
    background: lightblue;
    margin: 0 0;
    padding: 0 0;
}

header {
    background: dodgerblue;
    width: 100%;
    padding: 0.25em;
    display: flex;
}

.right {
    align-self: right;
}

.container {
    display: flex;
    justify-content: center;
    vertical-align: -webkit-baseline-middle;
    align-content: center;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}